<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title|default('')}}</title>
</head>
<body>
    
    {% if env.netlify_build_hook %}
        <form  
            action="{{env.netlify_build_hook}}"
            target="_blank"
            method="post"
        >
            <input name="trigger_branch" value="{{env.trigger_branch|default('master')}}" hidden/>
            <input name="trigger_title" value="{{env.trigger_title|default('forestry deploy')}}" hidden/>
            <button type="submit">
                Deploy to {{env.live_url|default('Netlify')}}
            </button>
        </form>
    {% endif %}
    {{content|safe}}

</body>
</html>